
nav {
  padding: var(--space-4) var(--space-6);
  border-bottom: 1px solid var(--color-border);
}

nav h1 {
  font-size: var(--text-xl);
  margin: 0;
}

main {
  padding: var(--space-6);
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
}

#dashboard {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--space-6);
  width: 100%;
}

#dashboard .overview {
  grid-column: span 12;
}

#dashboard .subjects,
#dashboard .schedule,
#dashboard .tasks {
  grid-column: span 4;
}

@media (max-width: 1024px) {
  #dashboard .subjects,
  #dashboard .schedule,
  #dashboard .tasks {
    grid-column: span 6;
  
  }
}

@media (max-width: 640px) {
  #dashboard .subjects,
  #dashboard .schedule,
  #dashboard .tasks {
    grid-column: span 12;
  }
}


#subjects  {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-6);
}

#subjects #subject-form {
  grid-column: span 4;
}

#subjects #subject-list-sub {
  grid-column: span 4;
}

@media (max-width: 1024px) {
  #subjects .card {
    grid-column: span 6;
  }
}

@media (max-width: 640px) {
  #subjects .card {
    grid-column: span 12;
  }
}
#schedule {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  gap: var(--space-6);
}

#schedule > .card:nth-of-type(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

#schedule > .card:nth-of-type(2) {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

#schedule > .card:nth-of-type(3) {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

@media (max-width: 1024px) {
  #schedule {
    grid-template:
      "form"
      "stats"
      "table"
      
      / 1fr;
  }
}

#tasks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-6);
}

#tasks #task-form {
  grid-column: span 4;
}

#tasks #task-list,
 #tasks .task-filters {
  grid-column: span 8;
}

@media (max-width: 1024px) {
  #tasks .card {
    grid-column: span 12;
  }
}
